/* general setting start */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* color */
  --primary-color: rgb(22, 24, 35);
  --main-color: rgb(243, 101, 63);
  /* --yellow-color: #ffe916;
    --yellow-hover-color: #edd711;
    --fruit-color: #fc6130;
    --vegetable-color: #46c270; */

  /* font */
  --primary-font: "Raleway", sans-serif;
  --main-font: "Comfortaa", cursive;
}

/* custom scroll-bar starts */

body::-webkit-scrollbar {
  width: 0.9vw;
}

body::-webkit-scrollbar-track {
  background: var(--primary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  height: 10vw;
  border-radius: 100vw;
  border: 2px solid var(--primary-color);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

* {
  scrollbar-color: var(--primary-color) white;
  scrollbar-width: thin;
}

/* custom scroll-bar ends */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
}

nav {
  width: 100%;
}

.wrap {
  /* width: min(91%, 1250px); */
  width: 85%;
  margin: 0 auto;
}

.special-wrap {
  width: 96%;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.cta-btn {
  background-color: var(--main-color);
  color: white;
  padding: 0.6em 1.7em;
  border-radius: 5px;
  font-size: 0.9rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* general setting end */

/* homePage Section Start */

.homePage {
  background-color: var(--primary-color);
  min-height: 100vh;
}

.homePage-nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}

.homePage-nav-logo {
  color: var(--main-color);
  font-size: 1.8rem;
}

.homePage-nav-link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.9rem;
}

.homePage-hero-sec {
  background-color: var(--primary-color);
}

.homePage-hero-wrap {
  padding: 4.5em 0;
}

.homePage-hero-header {
  text-align: center;
  font-size: 5em;
  color: white;
  font-weight: 800;
  margin-bottom: 1em;
}

.homePage-hero-subSec {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 55%;
}

.homePage-hero-subSec-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.homePage-hero-subHeader {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.8em;
  margin-bottom: 2em;
}

.homePage-hero-subSec-right {
  width: 100%;
  padding-left: 1em;
}

.homePage-hero-img {
  width: 100%;
  border-radius: 5px;
}

/* homePage Section End */

/* signup & signin section start */

.signUp,
.signIn {
  background-color: var(--primary-color);
  min-height: 100vh;
}

.signUp-nav-wrap,
.signIn-nav-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5em 0;
}

.signUp-nav-logo,
.signIn-nav-logo {
  color: var(--main-color);
  font-size: 1.8rem;
}

.signUp-hero-wrap {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 1.8em 0 8em 0;
}

.signIn-hero-wrap {
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 1.8em 0 8em 0;
}

.signUp-hero-form-header,
.signIn-hero-form-header {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.signUp-hero-form-subHeader,
.signIn-hero-form-subHeader {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  margin-bottom: 2.5em;
}

.signIn-hero-form-subHeader span {
  color: var(--main-color);
  font-weight: 600;
}

.signUp-hero-form-sec,
.signIn-hero-form-sec {
  padding-right: 2em;
}

.signUp-hero-form-input-sec,
.signIn-hero-form-input-sec {
  margin-bottom: 2.2em;
}

.signUp-hero-form-label,
.signIn-hero-form-label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0.8em;
}

.signUp-hero-form-input,
.signIn-hero-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 0.7em 1em;
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
  background-color: transparent;
  width: 100%;
}

.signUp-hero-form-button,
.signIn-hero-form-button {
  width: 100%;
  background-color: var(--main-color);
  border: 1px solid white;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1em 1em;
  border-radius: 10px;
}

/* signup & signin section end */

/* userBoard section start */

.userBoard {
  background-color: var(--primary-color);
  min-height: 100vh;
}

.userBoard-nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

.userBoard-nav-logo {
  color: var(--main-color);
  font-size: 1.8rem;
}

.userBoard-toggle-sec {
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--main-color);
  padding: 0.2em 0.5em 0.2em 0.3em;
}

.userBoard-toggle-icon {
  width: 1.9em;
  height: 1.9em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.userBoard-toggle-icon-alphabet {
  font-weight: 800;
  font-size: 0.95rem;
}

.userBoard-toggle-firstName {
  font-size: 0.95rem;
  color: white;
  font-weight: 200;
  margin-left: 0.7em;
}

.userBoard-toggle-arrow-sec {
  width: 1.6em;
  height: 1.6em;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-left: 3.5em;
  cursor: pointer;
}

.userBoard-body-wrap {
  height: calc(100vh - 3.7em);
  display: grid;
  grid-template-columns: 18% 82%;
  margin-top: 0.3em;
}

.userBoard-body-left {
  /* border: 1px solid green; */
  padding-top: 4em;
  padding-left: 1.3em;
  padding-right: 1.3em;
}

.userBoard-body-left-tag {
  width: 100%;
  padding: 0.9em 1.8em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 0.84rem;
  font-weight: 600;
  border-radius: 20px;
  margin-bottom: 1em;
}

.userBoard-body-left-tag.active {
  background-color: var(--main-color);
}

.userBoard-body-right {
  background-color: #0e0f16;
  border-top-left-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.projects-sec {
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100%;
  padding: 3em 2em;
}

.projects-sec-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projects-addProject-btn-sec {
  width: fit-content;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.2em 0.5em 0.2em 0.3em;
  margin-bottom: 2em;
  cursor: pointer;
}

.projects-addProject-btn-label {
  font-size: 0.95rem;
  color: white;
  font-weight: 200;
  margin-left: 0.7em;
}

.projects-addProject-btn-arrow-sec {
  width: 1.6em;
  height: 1.6em;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-left: 2em;
  cursor: pointer;
}

.projects-list-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects-project-sec {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1em;
  width: 100%;
}

.projects-project-header {
  font-size: 1rem;
  color: white;
}

.addProject-sec {
  width: 100%;
  display: flex;
  height: 100%;
  padding: 3em 2em;
}

.addProject-form-label {
  font-size: 0.95rem;
  color: white;
  margin-bottom: 1em;
}

.addProject-form{
 width: 100%;
}

.addProject-form-sec{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.addProject-form-input {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1em;
  background-color: transparent;
  width: 80%;
  color: white;
}

.addProject-form-btn{
  margin-top: 2.5em;
}

/* userBoard section end */
